{{- if .Values.cephCluster.enabled }}
apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: {{ .Values.cephCluster.name }}
  namespace: {{ .Release.Namespace }}
spec:
  cephVersion:
    image: {{ .Values.cephCluster.cephVersion.image }}
  dataDirHostPath: {{ .Values.cephCluster.dataDirHostPath }}
  mon:
    count: {{ .Values.cephCluster.mon.count }}
    allowMultiplePerNode: {{ .Values.cephCluster.mon.allowMultiplePerNode }}
  mgr:
    count: {{ .Values.cephCluster.mgr.count }}
  dashboard:
    enabled: {{ .Values.cephCluster.dashboard.enabled }}
    ssl: {{ .Values.cephCluster.dashboard.ssl }}
  monitoring:
    enabled: {{ .Values.cephCluster.monitoring.enabled }}
  storage:
    useAllNodes: {{ .Values.cephCluster.storage.useAllNodes }}
    useAllDevices: {{ .Values.cephCluster.storage.useAllDevices }}
    directories:
    {{- range .Values.cephCluster.storage.directories }}
    - path: {{ .path }}
    {{- end }}
  resources:
    {{- toYaml .Values.cephCluster.resources | nindent 4 }}
{{- end }}
